
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
}

.ddApp{
    text-align: center;
}

.contain{
    margin: 0 auto;
    display: inline-block;
    border: #801515 2px solid;
    padding: 6px;
    background: #669999;
    border-radius: 5px;
}

.pageTitle{
    font-size: 22px;
    font-weight: bold;
    padding: 6px 0;
    color: white;
    text-shadow: 0 0 1px #888;
}

.listItemCon{
    border: 2px solid #A5C663;
    width: 340px;
    padding: 16px;
    user-select: none;
    margin: 4px 0;
    background: white;
    border-radius: 4px;
}

.listItemCon:hover{
    cursor: pointer;
}

.listItemImgCon{
    display: inline-block;
    width: 100px;
}

.listItemImg{
    width: 80px;
    height: 80px;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222;
    border-radius: 50%;
    border: 1px solid green;
}

.listItemImgOoT{
    background-size: 150%;
    background-position-x: -15px;
}

.listItemImgMM{
    background-size: 150%;
    background-position-x: -20px;
}

.listItemTextCon{
    display: inline-block;
    vertical-align: top;
    width: 240px;
}

.listItemTitle{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.listItemDesc{
    padding-top: 40px;
    font-size: 14px;
}

.listItemConsole{
    float: left;
}

.listItemYear{
    float: right;
}

.ddHidden{
    opacity: 0.0;
}
